header {
    padding-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

div#dados {
    overflow: auto;
}

.btnLimpar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 20px;
}

/* .btnFiltrar {
    display: none;
}
@media only screen and (max-width: 600px) {
    .btnFiltrar {
        display: block;
        content: '';
    }
    .filtrar {
        display: none;
        height: 0px;
    }
} */